<a href="https://colab.research.google.com/github/Helzheng123/datasci_1_loading/blob/main/hha507_wk1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import seaborn as sns
import plotly as plt

In [9]:
!pip freeze > packages.txt

## CSV Datasets

### Description of AQI file: This data contains the Air Quality Index (AQI) score of countries around the world.

| Column | Description of Column |
|--|--|
| Date | The date that the AQI was taken |
| Country | The country that the AQI was taken at |
| Status | AQI quality |
| AQI Value | How clean or polluted the air is |

In [30]:
# Load the file
AQI = pd.read_csv('data_date.csv')
AQI.head(10)

         Date     Country                          Status  AQI Value
0  2022-07-21     Albania                            Good         14
1  2022-07-21     Algeria                        Moderate         65
2  2022-07-21     Andorra                        Moderate         55
3  2022-07-21      Angola  Unhealthy for Sensitive Groups        113
4  2022-07-21   Argentina                        Moderate         63
5  2022-07-21     Armenia                        Moderate         76
6  2022-07-21   Australia                        Moderate         56
7  2022-07-21     Austria                            Good         45
8  2022-07-21  Azerbaijan                            Good         12
9  2022-07-21     Bahrain                       Unhealthy        165

### Description of respiratory file: This contains different chronic respiratory diseases data collected from the public health department of the state New Mexico.

| Column | Description of Column|
|--|--|
| Symptoms | The symptoms the individual faces |
| Age | Age of individual |
| Sex | Sex of individual |
| Disease | Type of respiratory disease the individual has |
| Treatment | Type of treatment the individual receives |
| Nature | Condition of the disease |

In [29]:
respiratory = pd.read_csv('respiratory symptoms and treatment.csv')
respiratory.head(10)

                     Symptoms   Age     Sex Disease    Treatment  Nature
0                   coughing    5.0  female  Asthma   Omalizumab    high
1  tight feeling in the chest   4.0  female  Asthma  Mepolizumab    high
2                    wheezing   6.0    male  Asthma  Mepolizumab    high
3         shortness of breath   7.0    male  Asthma  Mepolizumab    high
4         shortness of breath   9.0    male  Asthma  Mepolizumab    high
5  tight feeling in the chest   NaN    male  Asthma  Mepolizumab    high
6         shortness of breath   NaN    male  Asthma  Mepolizumab    high
7  tight feeling in the chest   8.0  female  Asthma  Mepolizumab    high
8         shortness of breath  36.0  female  Asthma  Mepolizumab  medium
9                    wheezing  40.0  female  Asthma   Omalizumab  medium

## XLSX Datasets

### Description of flight_info file: This data contains dataset for flight booking through *Ease My Trip*.

| Column | Description of Column |
|--|--|
| Airline | The organization that provides the route |
| Date_of_Journey | The date the flight will take place|
| Source | The location the flight departs from |
| Destination | The location the flight arrives at |
| Route | The location in abbreviations of where the flight departs from to the arrival destination |
| Dep_Time | The time the flight departs |
| Arrival_Time | The time the flight arrives |
| Duration | The time span of the flight |
| Total_Stops | How many stops the flight will have |
| Additional_Info | Additional information regarding the flight |
| Price | Price of the flight ticket |

In [31]:
flight_info = pd.read_excel('Data_Train.xlsx')
flight_info.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625

### Description of Foreign Exchange Rates File: This is a dataset on foreign exchange rates from 2000-2019 on different countries. :

| Column | Description of Column |
|--|--|
| Time Series | Date |
| Australia | Australia dollar per United States dollar (USD) |
| Euro Area | Euro per USD |
| New Zealand | New Zealand dollar per USD |
| United Kingdom | United Kingdom pound per USD |
| Brazil | Brazil real per USD |
| Canada | Canadian dollar per USD |
| China | Yuan per USD |
| Hong Kong | Hong Kong dollar per USD |
| India | Indian rupee per USD |
| Korea | Won per USD |
| Mexico | Mexican peso per USD |
| South Africa | Rand per USD |
| Singapore | Singapore dollar per USD |
| Denmark | Danish Krone per USD |
| Japan | Yen per USD |
| Malaysia | Ringgit per USD |
| Norway | Norwegian Krone per USD |
| Sweden | Krona per USD |
| Sri Lanka | Sri Lankan Rupee per USD |
| Switzerland | Franc per USD |
| Taiwan | New Taiwan Dollar per USD |
| Thailand | Baht per USD |

In [34]:
foreign_exchange_rate = pd.read_excel('Foreign_Exchange_Rates.xlsx')
foreign_exchange_rate.head(10)

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,INDIA - INDIAN RUPEE/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,43.55,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,43.55,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
5,2000-01-10,1.5242,0.9754,1.935,0.6107,1.819,1.4568,8.2794,7.7785,43.55,...,1.6618,7.254,105.28,3.8,8.024,8.449,73.3,1.5704,30.83,37.27
6,2000-01-11,1.5209,0.9688,1.9365,0.6068,1.8225,1.457,8.2795,7.7785,43.6,...,1.669,7.214,106.09,3.8,7.969,8.397,73.35,1.5605,30.83,37.61
7,2000-01-12,1.5202,0.9727,1.9286,0.6073,1.835,1.455,8.2796,7.7787,43.6,...,1.669,7.236,105.76,3.8,7.977,8.418,73.35,1.566,30.8,37.54
8,2000-01-13,1.4954,0.9737,1.9084,0.6067,1.814,1.4495,8.2798,7.7788,43.55,...,1.67,7.252,106.09,3.8,7.9425,8.417,73.35,1.5707,30.8,37.49
9,2000-01-14,1.5004,0.9874,1.9186,0.6115,1.805,1.4497,8.2797,7.7789,43.55,...,1.6752,7.347,105.86,3.8,7.997,8.474,73.35,1.5945,30.83,37.55

### Description of LinkedIn Job File: This is a overview of job postings on LinkedIn

| Column | Description of Column |
|--|--|
| Job_ID | The unique ID for each job |
| Job | The type of job |
| Location | Location for the job |
| Company_ID | The unique ID for the company |
| Company_name | The name of the company |
| Work_type | The type of job (if it is remote, on-site, or hybrid) |
| Full_time_remote | Full time or part time |
| No_of_employ | Number of employees |
| No_of_application | Number of applications received |
| posted_day_ago | The time of job posting |
| Alumni | How many alumnis are in the company |
| Hiring_person | Name of hiring person |
| LinkedIn Followers | Number of followers |
| Hiring_Person_link | Link to hiring person |
| Job Details | About the job |

In [35]:
linkedin_job = pd.read_excel('linkdin_Job_data.xlsx')
linkedin_job.head(10)

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...
5,3472504479,Data Analyst,"Gurugram, Haryana, India",NaN,airtel,On-site,Full-time · Entry level,"10,001+ employees · Telecommunications",200,10 hours,132 company alumni,NaN,"972,657 followers",NaN,About the job The ideal candidate will use the...
6,3471658510,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Bengaluru, Karnataka, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,546 followers",NaN,About the job Crossover is the world's #1 sour...
7,3472808738,Shopify Developer,"Delhi, India",NaN,Digital Impressions,On-site,Full-time,51-200 employees,2,7 hours,1 company alumni,Rashmi Aggarwal,"1,045 followers",https://www.linkedin.com/in/aggarwal-rashmi,About the job The ideal candidate will be resp...
8,3475061559,Database Developer,"Gurugram, Haryana, India",NaN,Kline & Company,Hybrid,Full-time,201-500 employees,7,25 minutes,NaN,Duncan Lawie,"30,319 followers",https://www.linkedin.com/in/duncan-lawie,About the job Are you an experienced Microsoft...
9,3473336242,Shopify Developer,"Gurugram, Haryana, India",NaN,ADesignGuy,Hybrid,NaN,NaN,minutes,9 minutes,NaN,NaN,"2,163 followers",NaN,About the job Job Title: Shopify Developer (In...