<a href="https://colab.research.google.com/github/Helzheng123/datasci_1_loading/blob/main/hha507_wk1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import plotly as plt

In [ ]:
!pip freeze > packages.txt

## CSV Datasets

### Description of AQI file: This data contains the Air Quality Index (AQI) score of countries around the world.

| Column | Description of Column |
|--|--|
| Date | The date that the AQI was taken |
| Country | The country that the AQI was taken at |
| Status | AQI quality |
| AQI Value | How clean or polluted the air is |

In [ ]:
# Load the file
AQI = pd.read_csv('data_date.csv')
AQI.head(10)

         Date     Country                          Status  AQI Value
0  2022-07-21     Albania                            Good         14
1  2022-07-21     Algeria                        Moderate         65
2  2022-07-21     Andorra                        Moderate         55
3  2022-07-21      Angola  Unhealthy for Sensitive Groups        113
4  2022-07-21   Argentina                        Moderate         63
5  2022-07-21     Armenia                        Moderate         76
6  2022-07-21   Australia                        Moderate         56
7  2022-07-21     Austria                            Good         45
8  2022-07-21  Azerbaijan                            Good         12
9  2022-07-21     Bahrain                       Unhealthy        165

### Description of respiratory file: This contains different chronic respiratory diseases data collected from the public health department of the state New Mexico.

| Column | Description of Column|
|--|--|
| Symptoms | The symptoms the individual faces |
| Age | Age of individual |
| Sex | Sex of individual |
| Disease | Type of respiratory disease the individual has |
| Treatment | Type of treatment the individual receives |
| Nature | Condition of the disease |

In [ ]:
respiratory = pd.read_csv('respiratory symptoms and treatment.csv')
respiratory.head(10)

                     Symptoms   Age     Sex Disease    Treatment  Nature
0                   coughing    5.0  female  Asthma   Omalizumab    high
1  tight feeling in the chest   4.0  female  Asthma  Mepolizumab    high
2                    wheezing   6.0    male  Asthma  Mepolizumab    high
3         shortness of breath   7.0    male  Asthma  Mepolizumab    high
4         shortness of breath   9.0    male  Asthma  Mepolizumab    high
5  tight feeling in the chest   NaN    male  Asthma  Mepolizumab    high
6         shortness of breath   NaN    male  Asthma  Mepolizumab    high
7  tight feeling in the chest   8.0  female  Asthma  Mepolizumab    high
8         shortness of breath  36.0  female  Asthma  Mepolizumab  medium
9                    wheezing  40.0  female  Asthma   Omalizumab  medium

## XLSX Datasets

### Description of flight_info file: This data contains dataset for flight booking through *Ease My Trip*.

| Column | Description of Column |
|--|--|
| Airline | The organization that provides the route |
| Date_of_Journey | The date the flight will take place|
| Source | The location the flight departs from |
| Destination | The location the flight arrives at |
| Route | The location in abbreviations of where the flight departs from to the arrival destination |
| Dep_Time | The time the flight departs |
| Arrival_Time | The time the flight arrives |
| Duration | The time span of the flight |
| Total_Stops | How many stops the flight will have |
| Additional_Info | Additional information regarding the flight |
| Price | Price of the flight ticket |

In [ ]:
flight_info = pd.read_excel('Data_Train.xlsx')
flight_info.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625

### Description of Foreign Exchange Rates file: This is a dataset on foreign exchange rates from 2000-2019 on different countries. :

| Column | Description of Column |
|--|--|
| Time Series | Date |
| Australia | Australia dollar per United States dollar (USD) |
| Euro Area | Euro per USD |
| New Zealand | New Zealand dollar per USD |
| United Kingdom | United Kingdom pound per USD |
| Brazil | Brazil real per USD |
| Canada | Canadian dollar per USD |
| China | Yuan per USD |
| Hong Kong | Hong Kong dollar per USD |
| India | Indian rupee per USD |
| Korea | Won per USD |
| Mexico | Mexican peso per USD |
| South Africa | Rand per USD |
| Singapore | Singapore dollar per USD |
| Denmark | Danish Krone per USD |
| Japan | Yen per USD |
| Malaysia | Ringgit per USD |
| Norway | Norwegian Krone per USD |
| Sweden | Krona per USD |
| Sri Lanka | Sri Lankan Rupee per USD |
| Switzerland | Franc per USD |
| Taiwan | New Taiwan Dollar per USD |
| Thailand | Baht per USD |

In [ ]:
foreign_exchange_rate = pd.read_excel('Foreign_Exchange_Rates.xlsx')
foreign_exchange_rate.head(10)

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,INDIA - INDIAN RUPEE/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,43.55,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,43.55,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
5,2000-01-10,1.5242,0.9754,1.935,0.6107,1.819,1.4568,8.2794,7.7785,43.55,...,1.6618,7.254,105.28,3.8,8.024,8.449,73.3,1.5704,30.83,37.27
6,2000-01-11,1.5209,0.9688,1.9365,0.6068,1.8225,1.457,8.2795,7.7785,43.6,...,1.669,7.214,106.09,3.8,7.969,8.397,73.35,1.5605,30.83,37.61
7,2000-01-12,1.5202,0.9727,1.9286,0.6073,1.835,1.455,8.2796,7.7787,43.6,...,1.669,7.236,105.76,3.8,7.977,8.418,73.35,1.566,30.8,37.54
8,2000-01-13,1.4954,0.9737,1.9084,0.6067,1.814,1.4495,8.2798,7.7788,43.55,...,1.67,7.252,106.09,3.8,7.9425,8.417,73.35,1.5707,30.8,37.49
9,2000-01-14,1.5004,0.9874,1.9186,0.6115,1.805,1.4497,8.2797,7.7789,43.55,...,1.6752,7.347,105.86,3.8,7.997,8.474,73.35,1.5945,30.83,37.55

### Description of LinkedIn Job file: This is a overview of job postings on LinkedIn

| Column | Description of Column |
|--|--|
| Job_ID | The unique ID for each job |
| Job | The type of job |
| Location | Location for the job |
| Company_ID | The unique ID for the company |
| Company_name | The name of the company |
| Work_type | The type of job (if it is remote, on-site, or hybrid) |
| Full_time_remote | Full time or part time |
| No_of_employ | Number of employees |
| No_of_application | Number of applications received |
| posted_day_ago | The time of job posting |
| Alumni | How many alumnis are in the company |
| Hiring_person | Name of hiring person |
| LinkedIn Followers | Number of followers |
| Hiring_Person_link | Link to hiring person |
| Job Details | About the job |

In [ ]:
linkedin_job = pd.read_excel('linkdin_Job_data.xlsx')
linkedin_job.head(10)

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...
5,3472504479,Data Analyst,"Gurugram, Haryana, India",NaN,airtel,On-site,Full-time · Entry level,"10,001+ employees · Telecommunications",200,10 hours,132 company alumni,NaN,"972,657 followers",NaN,About the job The ideal candidate will use the...
6,3471658510,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Bengaluru, Karnataka, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,546 followers",NaN,About the job Crossover is the world's #1 sour...
7,3472808738,Shopify Developer,"Delhi, India",NaN,Digital Impressions,On-site,Full-time,51-200 employees,2,7 hours,1 company alumni,Rashmi Aggarwal,"1,045 followers",https://www.linkedin.com/in/aggarwal-rashmi,About the job The ideal candidate will be resp...
8,3475061559,Database Developer,"Gurugram, Haryana, India",NaN,Kline & Company,Hybrid,Full-time,201-500 employees,7,25 minutes,NaN,Duncan Lawie,"30,319 followers",https://www.linkedin.com/in/duncan-lawie,About the job Are you an experienced Microsoft...
9,3473336242,Shopify Developer,"Gurugram, Haryana, India",NaN,ADesignGuy,Hybrid,NaN,NaN,minutes,9 minutes,NaN,NaN,"2,163 followers",NaN,About the job Job Title: Shopify Developer (In...

## JSON Datasets

### Description of Monkey Pox file: This is a dataset focusing on the world's monkey pox infection cases.

| Column | Description of Column |
|--|--|
| Location | The country |
| Date | The date of the case |
| New_cases | Number of new cases |
| New_cases_smoothed | Number of new cases shown through smoothing techniques |
| Total_cases | Total number of cases |
| New_cases_per_million | Number of cases per million |
| Total_cases_per_million | Total number of cases per million |
| New_cases_smoothed_per_million | Number of new cases per million shown through smoothing techniques |
| New_deaths | Number of new deaths |
| New_deaths_smoothed | Number of new deaths shown through smoothing techniques |
| Total_deaths | Total number of deaths |
| New_deaths_per_million | Number of new deaths per million |
| Total_deaths_per_million | Total number of deaths per million |
| New_deaths_smoothed_per_million | Number of new deaths per million shown through smoothing technique |

In [ ]:
monkey_pox = pd.read_json('MonkeyBoxer.json')
monkey_pox.head(10)

,location,date,new_cases,new_cases_smoothed,total_cases,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths,new_deaths_smoothed,total_deaths,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million
0,Andorra,2022-07-25,1,NaN,1,12.653,12.653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,2022-07-26,2,NaN,3,25.306,37.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andorra,2022-07-27,0,NaN,3,0.000,37.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,2022-07-28,0,NaN,3,0.000,37.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,2022-07-29,0,NaN,3,0.000,37.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Andorra,2022-07-30,0,NaN,3,0.000,37.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Andorra,2022-07-31,0,0.43,3,0.000,37.958,5.441,NaN,NaN,NaN,NaN,NaN,NaN
7,Andorra,2022-08-01,0,0.29,3,0.000,37.958,3.669,NaN,NaN,NaN,NaN,NaN,NaN
8,Andorra,2022-08-02,0,0.00,3,0.000,37.958,0.000,NaN,NaN,NaN,NaN,NaN,NaN
9,Andorra,2022-08-03,0,0.00,3,0.000,37.958,0.000,NaN,NaN,NaN,NaN,NaN,NaN

### Description of COVID Tracking file: This is a dataset that shows historic US values on COVID data for the US.

| Column | Description of Column |
|--|--|
| Date | Date of when the data was collected by the COVID Tracking Project |
| States | Number of states/territories that was included |
| Positive | Confirmed cases |
| Negative | Negative PCR tests |
| Pending | Number of tests that have not been completed/reported |
| HospitalizedCurrently | Number of individuals currently hospitalized with COVID-19 |
| HospitalizedCumulative | Total number of individuals hospitalized with COVID-19 |
| InIcuCurrently | Number of individuals currently hospitalized in the ICU |
| InIcuCumulative | Total number of individuals hospitalized in the ICU with COVID-19 |
| OnVentilatorCurrently | Number of individuals currently on ventilator |
| OnVentilatorCumulative | Total number of individuals on ventilator |
| DateChecked | Has been deprecated as it was an old label for lastUpdateET |
| Death | Total number of fatalities with COVID-19 |
| Hospitalized | Has been deprecated as it was an old label for hospitalizedCumulative |
| TotalTestResults | Total test results relating to COVID-19 |
| LastModified | Has been deprecated as it was an old label for lastUpdateET |
| Recovered | Total number of recovered individuals from COVID-19 |
| Total | Has been deprecated as it is now computed through the addition of positive, negative, and pending values |
| posNeg | Has been deprecated for the same reason as Total |
| DeathIncrease |  The number of daily increases in death |
| HospitalizedIncrease | Number of increase in hospitalizedCumulative |
| NegativeIncrease | Number in daily increase in negative that is computed from the subtraction of the value of negative for the previous day |
| PositiveIncrease | Number in daily increase in API field positive (from Cases) |
| TotalTestResultsIncrease | Total number of daily increase from TotalTestResults |

In [ ]:
covid_tracking = pd.read_json('daily.json')
covid_tracking.head(10)

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,lastModified,recovered,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20210307,56,28756489.0,74582825.0,11808.0,40199.0,776361.0,8134.0,45475.0,2802.0,...,2021-03-07T24:00:00Z,NaN,0,0,842,726,131835,41835,1170059,a80d0063822e251249fd9a44730c49cb23defd83
1,20210306,56,28714654.0,74450990.0,11783.0,41401.0,775635.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1680,503,143835,60015,1430992,dae5e558c24adb86686bbd58c08cce5f610b8bb0
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,775132.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,724844c01659d0103801c57c0f72bf8cc8ab025c
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,772351.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,5c549ad30f9abf48dc5de36d20fa707014be1ff3
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,770821.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,fef6c425d2b773a9221fe353f13852f3e4a4bfb0
5,20210302,56,28453529.0,73590280.0,11196.0,46388.0,768649.0,9465.0,45084.0,3169.0,...,2021-03-02T24:00:00Z,NaN,0,0,1728,1871,255779,54248,1343519,f90cfd6129805f923153eb8da22a86b75eedf8fd
6,20210301,56,28399281.0,73334501.0,11748.0,46738.0,766778.0,9595.0,44956.0,3171.0,...,2021-03-01T24:00:00Z,NaN,0,0,1241,1024,118077,48092,1154440,fe110199c554cbfbc73cba70a79f621483b58633
7,20210228,56,28351189.0,73216424.0,11708.0,47352.0,765754.0,9802.0,44907.0,3245.0,...,2021-02-28T24:00:00Z,NaN,0,0,1051,879,203599,54349,1408422,e6707b320942dd3747d8bf8f6d9eb3df51d3eb9b
8,20210227,56,28296840.0,73012825.0,11731.0,48871.0,764875.0,10114.0,44875.0,3335.0,...,2021-02-27T24:00:00Z,NaN,0,0,1847,1428,205090,71245,1655179,d147391f796f2e12e030e88d732e1fcc3332ba0f
9,20210226,56,28225595.0,72807735.0,11945.0,51112.0,763447.0,10466.0,44791.0,3466.0,...,2021-02-26T24:00:00Z,NaN,0,0,2141,1868,276829,74857,1803309,a8e3b540b405af9291478478833507c9150982c9

### Description of School Ranking file: This is a dataset that shows the rankings of 311 US Universities.

| Column | Description of Column |
|--|--|
| RankingNoteText | Missing ranking (NaN) |
| NonResponderText | If the University responded to the US News statistics |
| NonResponder | The status of the response (False is if the University responded, True is if the University didn't respond) |
| ACT-avg | ACT average scores |
| Primary Photo | Link to the photo of the University |
| Primary Photo Thumb | Thumbnail Photo link |
| SAT-avg | SAT average scores |
| Enrollment | Number of enrollment |
| City | The city the University is in |
| SortName | Name of the university |
| DisplayName | Name of the university as displayed |
| SchoolType | Type of school |
| Region | Missing (NaN) |
| AliasNames | Another name for the University |
| RankingType | Type of ranking |
| OverallRank | The rank of the University |
| InstitutionalControl | Type of University |
| RankingMaxPossibleScore| Missing (NaN) |
| RankingRankStatus | If the University is ranked |
| PrimaryKey | Primary key value |

In [ ]:
school_ranking = pd.read_json('schoolInfo.json')
school_ranking.head(10)

,rankingNoteText,nonResponderText,nonResponder,act-avg,primaryPhoto,primaryPhotoThumb,sat-avg,enrollment,city,sortName,...,displayName,schoolType,region,aliasNames,rankingType,overallRank,institutionalControl,rankingMaxPossibleScore,rankingRankStatus,primaryKey
0,NaN,None,False,32.0,https://www.usnews.com/img/college-photo_31291...,https://www.usnews.com/img/college-photo_31291...,1400.0,5400.0,Princeton,princetonuniversity,...,Princeton University,national-universities,NaN,None,national-universities,1,private,NaN,ranked,2627
1,NaN,None,False,32.0,https://www.usnews.com/img/college-photo_8866.jpg,https://www.usnews.com/img/college-photo_8866_...,1430.0,6710.0,Cambridge,harvarduniversity,...,Harvard University,national-universities,NaN,None,national-universities,2,private,NaN,ranked,2155
2,NaN,None,False,32.0,https://www.usnews.com/dims4/USNEWS/5b128f0/17...,https://www.usnews.com/dims4/USNEWS/196469f/17...,1450.0,5941.0,Chicago,universityofchicago,...,University of Chicago,national-universities,NaN,UChicago,national-universities,3,private,NaN,ranked,1774
3,NaN,None,False,32.0,https://www.usnews.com/dims4/USNEWS/60348dd/17...,https://www.usnews.com/dims4/USNEWS/1ca230f/17...,1420.0,5472.0,New Haven,yaleuniversity,...,Yale University,national-universities,NaN,None,national-universities,3,private,NaN,ranked,1426
4,NaN,None,False,32.0,https://www.usnews.com/img/college-photo_19002...,https://www.usnews.com/img/college-photo_19002...,1430.0,6113.0,New York,columbiauniversity,...,Columbia University,national-universities,NaN,None,national-universities,5,private,NaN,ranked,2707
5,NaN,None,False,33.0,https://www.usnews.com/img/college-photo_6935.jpg,https://www.usnews.com/img/college-photo_6935_...,1460.0,4524.0,Cambridge,massachusettsinstituteoftechnology,...,Massachusetts Institute of Technology,national-universities,NaN,MIT,national-universities,5,private,NaN,ranked,2178
6,NaN,None,False,31.0,https://www.usnews.com/img/college-photo_10369...,https://www.usnews.com/img/college-photo_10369...,1380.0,7034.0,Stanford,stanforduniversity,...,Stanford University,national-universities,NaN,None,national-universities,5,private,NaN,ranked,1305
7,NaN,None,False,32.0,https://www.usnews.com/img/college-photo_2743.jpg,https://www.usnews.com/img/college-photo_2743_...,1380.0,10019.0,Philadelphia,universityofpennsylvania,...,University of Pennsylvania,national-universities,NaN,UPenn,national-universities,8,private,NaN,ranked,3378
8,NaN,None,False,31.0,https://www.usnews.com/dims4/USNEWS/7e5b5e0/17...,https://www.usnews.com/dims4/USNEWS/3f12795/17...,1380.0,6609.0,Durham,dukeuniversity,...,Duke University,national-universities,NaN,None,national-universities,9,private,NaN,ranked,2920
9,NaN,None,False,34.0,https://www.usnews.com/img/college-photo_93.jpg,https://www.usnews.com/img/college-photo_93_17...,1510.0,979.0,Pasadena,californiainstituteoftechnology,...,California Institute of Technology,national-universities,NaN,CalTech Cal Tech,national-universities,10,private,NaN,ranked,1131